.App {
  text-align: start;
}
.Title {
  text-align: center;
  color: blue;
}

.List-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: aqua;
  margin-bottom: 5px;
  color: blue;
  font-weight: 600;
}
.Item-completed {
  color: blue;
}